<!DOCTYPE html>
<html>
  <head>
    <title>SYPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <header>
        <h1 class="headline">
          <%= link_to raw("データサイエンティスト<br/>ポートフォリオサイト"), :root, id:"top" %>
        </h1>
        <img src="/assets/meishi2.jpg" alt="名刺"  id="business_card">
      </header>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <footer> 
      <nav id="nav_list">
        <ul>
          <li><%= link_to "保有スキル", "/certificates" %></li>
          <li><%= link_to "経歴", "/career" %></li>
          <li><%= link_to "挫折の経験", "/setback" %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
